/* Utility Classes */
.hidden {
  display: none;
}

/* General Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

/* Main Header */

header {
  background-image: url("../images/header_bk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 0px; */
  padding: 20px 0 15px 0; /* trbl */
  /* padding: 10px 0; */
}

#main-logo {
  width: 250px;
  display: block;
  margin: 0 auto;
  /* x, y, blur radius, spread radius */
  /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); */
}

/* Main Character Nav */

#character-nav {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/characters_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #675050;
  background-blend-mode: multiply;
}

#characters {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#characters li {
  display: inline;
  margin: 10px;
}

#characters li img {
  padding: 15px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
  width: 250px;
  border-radius: 50%;

  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 90%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 90%
  );
}

#characters li img:hover {
  /* filter:blur(5px) grayscale(100%); */
  filter: grayscale(0%);
  /* border-radius: 50% 0 50% 0; */
  border-radius: 30px;
  /* box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9); */
}

#characters li a {
  text-decoration: none;
}

/* Instructions */

#instructions {
  padding: 20px;
}

#instructions h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
}

#instructions p {
  font-size: 18px;
  text-align: center;
}

/* footer */

#main-footer {
  color: #cecac2;
  text-align: center;
  height: 80px;
  background-image: url("../images/footer_bk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 20px 0;
}

/* LightBox */

.lightbox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 55vh;
  background-position: 40px bottom;
  display: none;
}

/* turn on the lightbox using the :target pseudo selector */
/* This rule willl be dynamic, meaning .lightbox#lightbox1 or .lightbox#lightbox2 */
.lightbox:target {
  display: block;
}

#lightbox1 {
  background-image: url("../images/cole_phelps_LB_Bg.png");
}

#lightbox2 {
  background-image: url("../images/herschel_biggs_LB_Bg.png");
}

#lightbox3 {
  background-image: url("../images/elsa_lichtmann_LB_Bg.png");
}

#lightbox4 {
  background-image: url("../images/stefan_bekowsky_LB_Bg.png");
}

#lightbox5 {
  background-image: url("../images/roy_earle_LB_Bg.png");
}

.lightbox-close {
  margin-left: 90%;
  color: #fff;
  font-size: 45px;
  text-decoration: none;
}

.lightbox article {
  margin-left: 40%;
  margin-top: 50px;
  width: 600px;
}

.lb-heading {
  font-size: 32px;
}

.lb-text {
  line-height: 24px;
}
